* {
  color: $color-secondary;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}