// Colors
// ------
$color-primary: royalBlue;
$color-primary-light: skyBlue;
$color-secondary: darkOrchid;
$color-secondary-light: plum;
$color-input-border: slateGray;
$color-input-text: lightSlateGray;
$color-button-primary: lightSeaGreen;
$color-button-secondary: lightCoral;
$color-border-primary: 1px solid slategray;

// Buttons
// -------
$button-width: 150px;
$button-height: 50px;

// Spacing
// -------
$margin-bottom: 80px;